.communitiesContainer {
  height: 90%;
  min-height: 600px;
  max-height: 50%;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  transition: 0.45s ease;
}

@media screen and (max-width: 1268px) {
  .communitiesContainer {
    flex-direction: column;
  }
}
.frameCommunitiesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 47px;
}
.cardInfoDiv {
  text-align: center;
}
.cardInfoDiv p {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}
.cardInfoDiv .cardInfoP {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #7f7f7f;
}
.communtyContainerCard {
  max-width: 255px;
  max-height: 260px;
  padding-top: 48px;
  background: #18181b;
  border-radius: 10px;
  margin: 15px;
}
.communityPictureDiv {
  position: relative;
  z-index: 90;
}

.communityCardLine {
  border: 1px solid #303036;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}
.communityUser {
  z-index: -2;
}

.cardInfoButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
}

.cardInfoButtonDiv button {
  width: 78px;
  height: 28px;

  background: #00e467;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border: 1px solid #303036;
  cursor: pointer;
}

.cardInfoButtonDiv button:nth-child(2) {
  background: none;
}

/* SINGLE PAGE */

.communitiesContainerSingle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.communityPictureDivSingle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 90;
  width: 100%;
}
.communityPictureDivSingle img,
.communityCardSingleTitle,
.communityDescription,
.communityReq,
.communityMembersList {
  margin-left: 74.5px;
  max-width: 90%;
}
.communityCardSingleTitle,
.communityDescription,
.communityReq,
.communityMembersList {
  max-width: 1000px;
}
.communityCardLineSingle {
  border: 1px solid #303036;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.communityCardSingleTitle {
  max-width: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.45s ease;
  border-bottom: 1px solid rgb(141, 159, 141);
}

.communityCardSingleTitleLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.communityCardVerified {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  margin-left: 12px;
  background: rgba(86, 122, 243, 0.1);
  border-radius: 6px;
  height: 20px;
  left: 117px;
}

.communityCardVerified img {
  padding-right: 5px;
}
.communityCardVerified p {
  color: #567af3;
}

.communityDescription {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #7f7f7f;
  max-width: 80%;
}

.communityCardMembersTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.communityCardMembersCount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #7f7f7f;
  margin-left: 10px;
  margin-top: 17px;
}

.communityCardCollapse {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
.communityCardCollapseInput{
  background: #23252E;
  border: none;
  outline: none;
  color: #fff; 
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.communityMembersList {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.communityMembersListCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60px;
  padding: 15px;
  border-radius: 5px;
  transition: 0.45s ease;
  animation: fade-down 1s ease;
  cursor: pointer;
  margin-top: 10px;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}
.communityMembersListCard:hover {
  background-color: #183a27;
}
.communityMembersListCard img {
  width: 50px;
  height: 50px;
}

.communityMembersListCard p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #7f7f7f;
}

.communityGreenButton {
  width: 78px;
  height: 28px;

  background: #00e467;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border: 1px solid #303036;
  cursor: pointer;
}

.singleCommMainContainer {
  min-width: 266px;
  height: 100%;
  border-left: 1px solid #303036;
}
.communityPictureContainer {
  position: relative;
}
.communityPicture {
  position: absolute;
  bottom: -35px;
  left: 25px;
  width: 100px;
  height: 100px;
}
.singleCommMain {
  
  border-bottom:  1px solid #303036;
}
.singleCommunityCardSingleTitleLeft {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 25px;
}

.singleCommHashtagContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.singleCommHashtagToggle{ 
  width: 60%;
  margin-left: 25px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content:space-between;
  color: #7F7F7F;
  font-family: 'Inter';
  font-weight: 500;
font-size: 16px;
cursor: pointer;
margin-top: 14px;
}

/* .singleCommHashtagToggle p:nth-child(1){
  padding-top: 10px; 
} */
 
.singleCommHashtagDropdown{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  animation: fade-down .45s ease;
}
@keyframes fade-down {
  0%{
    margin-top: -10px;
    opacity: 0;
  }
  100%{
    margin-top: 0;
    opacity: 1;
  }
}

.singleCommHashtagDropdown p{ 
margin: 3px 0;
padding: 5px;
cursor: pointer;
}

.frameParent1,
.frameSection {
  display: flex;
  justify-content: space-between;
}
.frameParent1 {
  /* width: 703px; */
  width: 100%;
  flex-direction: row;
  align-items: center; 
  position: relative;
}

.uploadMediaDiv{
  position: absolute;
  right: 50px;
  bottom: 70px;
   width: 384px;
 height: 177px; 
 background: #18181B;
 border: 2px solid #303036;
 border-radius: 10px;
 animation: fade-up 0.45s ease;
}

@keyframes fade-up {
  0%{
    opacity: 0;
    bottom: 50px;
  }

  100%{
    opacity: 1;
    bottom: 70px;
  }
}
.uploadMediaDiv > * {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;  
color: #8B98AC;
}
.uploadMediaDivTop{
  border-bottom: 1px solid #303036;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 padding: 5px 22px; 
}

.uploadMediaDivTop button {
  background: #246BFD;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;  
color: #FFFFFF;
display: flex;
justify-content: space-between;
align-items: center;
width: 61px;
height: 24px;
padding: 8px;
cursor: pointer;
}
.sparkles{
  width: 12px;
height: 12px;
}
.uploadMediaDivBottomFirst{
  display: flex; 
align-items: center;
padding: 5px 22px; 
}

.uploadMediaDivBottomFirst p {
  margin-left: 15px; 
}

.uploadMediaDivBottomFirst p,
.uploadMediaDivBottomFirst img { 
  cursor: pointer;
}