@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-gray-100: #23252e;
  --color-gray-500: #7f7f7f;
  --color-white: #fff;
  --color-springgreen: #00e467;
  --color-gray-200: #23252e;
  --color-gray-300: #121214;
  --color-gray-400: #121214;

  /* Gaps */
  --gap-145xl: 164px;
  --gap-3xl: 22px;
  --gap-base: 16px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-mid: 17px;

  /* border radiuses */
  --br-7xs: 6px;
}
