.generatedSuccessfully {
    color: var(--color-springgreen);
  }
  .keysGeneratedSuccessfullyContainer {
    margin: 0;
    align-self: stretch;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 50px;
    font-weight: 700;
    font-family: inherit;
  }
  .keysGeneratedSuccessfullyWrapper {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .keysChild,
  .tapThePhrase {
    align-self: stretch;
    flex: 1;
    font-weight: 500;
    font-family: var(--font-inter);
    display: flex;
  }
  .keysChild {
    border: 0;
    background-color: #23252e;
    font-size: var(--font-size-sm);
    border-radius: 8px;
    flex-direction: column;
    padding: 0 5px;
    align-items: flex-start;
    justify-content: center;
  }
  .tapThePhrase {
    margin: 0;
    position: relative;
    font-size: 20px;
    line-height: 34px;
    color: #7f7f7f;
    text-align: left;
    align-items: center;
  }
  .tapThePhraseToCopyItWrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: stretch;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .continue {
    position: relative;
    font-size: var(--font-size-sm);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    width: 99px;
    height: 17px;
    flex-shrink: 0;
  }
  .continueWrapper,
  .keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .continueWrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-springgreen);
    border-radius: 6px;
    width: 150px;
    height: 55px;
    flex-shrink: 0;
    align-items: center;
  }
  .keys {
    position: relative;
    background-color: #121214;
    width: 100%;
    height: 620px;
    padding: 110px 100px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 22px;
    text-align: left;
    font-size: 30px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  