@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.communicationComment {
  position: relative;
  border-radius: var(--br-5xs);
  width: 20px;
  height: 25px;
  flex-shrink: 0;
  overflow: hidden;
}
.chat {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.communicationCommentParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-gray-300);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.communicationCommentParent:hover,
.rimessage3LineParent:hover,
.vectorGroup:hover,
.vectorParent:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}


.rimessage3LineIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.community {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-lightslategray);
  text-align: center;
}
.rimessage3LineParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}

.vectorIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.vectorGroup,
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameGroup {
  align-self: stretch;
  height: 263px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 166px;
  height: 1px;
  flex-shrink: 0;
}
.iconsaxlinearsetting3 {
  position: relative;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconsaxlinearsetting3Parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iconsaxlinearsetting3Parent:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.switchTheme {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-lightslategray);
  text-align: center;
}
.rimoonClearLineParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameParent,
.lineParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
}
.frameParent {
  align-self: stretch;
  width: 193px;
  flex-shrink: 0;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-21xl); 
}
@media screen and (max-width: 960px) {
  .communicationCommentParent {
    align-self: stretch;
    width: auto;
    flex: 1;
  }
}
@media screen and (max-width: 420px) {
  .chat {
    display: none;
    flex: 1;
    align-self: stretch;
    height: auto;
  }
  .communicationCommentParent {
    display: flex;
    flex-direction: row;
    gap: var(--gap-0);
    border-radius: var(--br-11xs);
    padding: 0;
    box-sizing: border-box;
  }
}

/* NEW STYLES */
.sidebarParent{ 
  width:267px; 
  height: 100vh; 
  padding: 0 40px;
  border-right: 1px solid #303036;
}
.sidebarParentGroup{ 
  width:100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}
.logoTextContainer{ 
  margin-bottom: 26px; 
    cursor: pointer;
    border: 0; 
    background-color: transparent; 
  }
.logoText{ 
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 36px; 
color: #fff
}

.communicationCommentParent,
.rimessage3LineParent,
.vectorGroup,
.vectorParent {
  border: 0;
  transition: 0.45s ease;
  height: 53px;
  padding: 13px 12px; 
  border-radius: 8px;
  margin: 8px 0;
}
.communicationCommentParent h1,
.rimessage3LineParent h1,
.vectorGroup h1,
.vectorParent h1{
 font-size: 18px;
 color: #fff;
 padding-left: 14px;
}

.communicationCommentParent div,
.rimessage3LineParent div,
.vectorGroup div,
.vectorParent div{
 font-size: 18px;
 color: #8B98AC;
 padding-left: 14px; 
}
 

.communicationCommentParent{
 background: #181B21;
 color: #fff;
}

.lineParent{
  border-top: 1px solid #303036;
  padding: 20px 0;
  margin-top: 20px;
}


.iconsaxlinearsetting3Parent,
.rimoonClearLineParent  {
  border: 0;
  transition: 0.45s ease;
  height: 53px;
  padding: 13px 12px; 
  border-radius: 8px;
  margin: 8px 0;
}
 

.iconsaxlinearsetting3Parent div,
.rimoonClearLineParent div {
 font-size: 18px;
 color: #8B98AC;
 padding-left: 14px; 
}
 
