.icon {
    position: relative;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .caduceus {
    cursor: pointer;
    border: 0;
    padding: var(--padding-11xs) var(--padding-mid);
    background-color: var(--color-gray-100);
    position: absolute;
    top: 77px;
    left: 197px;
    border-radius: var(--br-7xs);
    width: 175px;
    height: 55px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xl);
  }
  .tezosXtzIcon2 {
    position: relative;
    width: 23px;
    height: 22px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .tezos {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    top: 0;
    left: 197px;
    width: 175px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xl);
  }
  .metamaskFox2Icon {
    position: relative;
    width: 25px;
    height: 28px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .metamask {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-7xs);
    width: 175px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .unstoppable {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
  }
  .unstop {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    top: 77px;
    left: 0;
    border-radius: var(--br-7xs);
    width: 175px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xl);
  }
  .caduceusParent {
    position: relative;
    width: 372px;
    height: 132px;
    flex-shrink: 0;
  }
  